h2,
h3,
h5 {
  margin: 0;
}

h3 {
  padding: 0.5rem 0;
}

form {
  padding: 0;
}

svg {
  margin-right: 1rem;
  height: 1.25rem;
  width: 1.25rem;
}

li {
  padding: 1rem 0;
}

img {
  height: 300px;
  object-fit: contain;
  background-color: #f3f3f3;
}

/* Nowww gallery cards */
.card > .list-group {
  border: none;
}

.card-img {
  object-fit: cover;
  border-radius: 5px;
}

.card-img-overlay {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  position: absolute;
  flex-direction: column;
  background-image: linear-gradient(transparent 36%, rgba(0, 0, 0, 0.87));
}

.card-details {
  margin-top: auto;
  color: white;
}

.card-details-item {
  display: flex;
  margin-bottom: 0.5rem;
}

.card-details-item > span {
  font-size: 0.875rem;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Nowww gallery cards */

/* now user display styles */
.content > li,
.bio > li {
  border: none;
}

/* now user display styles */

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.vh100 {
  height: 75vh;
}

.bi-list {
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
}

.sign-up-btn {
  width: 100%;
}

.img-btn {
  border: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 4rem;
}

.text-deco-none {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
  overflow-x: hidden;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.bottom-0 {
  bottom: 0%;
}

.w-fit-content {
  width: fit-content;
}

.edit-input {
  border: none;
  margin: 0;
  width: 80%;
}

/* .list-group-item > p {
  margin: 0;
  padding: 0;
} */

/* .list-group-item > span {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
} */

.edit-input:hover {
  border: 1px solid #005fcc;
  border-radius: 5px;
}

.edit-input-large {
  border: none;
  width: 100%;
  margin: 0;
}

.edit-input-large:hover {
  border: 1px solid #005fcc;
  border-radius: 5px;
}

::placeholder {
  color: black;
}

.bi-plus-square {
  margin-top: -5px;
}

.width-100 {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
  padding: 0.75rem;
}

.dropdown-menu > li > input.edit-input {
  width: 100%;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.now-ul > li {
  padding: 35px;
}

.add-entry-btn {
  margin-right: 0.1rem !important;
}

.entry-input-form {
  padding-left: 1rem;
}

.delete-btn > svg {
  margin: 0;
  margin-left: -1px;
  margin-top: -1px;
  padding: 0;
  margin-bottom: 2px;
  color: white;
}

.delete-btn {
  border: 0;
  border-radius: 1px 0 1px 5px;
  width: 30px;
  height: 30px;
  background-color: #1d1f23;
  transition-duration: 0.5s;
}

.delete-btn:hover {
  background-color: #0d6efd;
}

.display-none {
  display: none;
}

.now-entry-form > input {
  padding-left: 35px;
}
